[XDebug]
zend_extension=xdebug.so
xdebug.coverage_enable=0
xdebug.remote_enable={{ php_xdebug_remote_enable }}
xdebug.remote_host={{ php_xdebug_remote_host }}
xdebug.remote_port={{ php_xdebug_remote_port }}
xdebug.remote_handler="dbgp"
xdebug.remote_log={{ php_xdebug_remote_log }}
xdebug.max_nesting_level = {{ php_max_nesting_level }}
xdebug.profiler_enable_trigger = {{ php_xdebug_profiler_enable_trigger }}
xdebug.profiler_output_dir = {{ php_xdebug_profiler_output_dir }}
xdebug.profiler_output_name = {{ php_xdebug_profiler_output_name }}
